@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Order> DonHang = ViewBag.DanhSachDonHang;
}
@model WebSite_Online1a.Models.Account

<section class="bread-crumb">
    <div class="container">
        <ul class="breadcrumb">
            <li class="home">
                <a href="/home"><span>Trang chủ</span></a>
                <span class="mr_lr">&nbsp;/&nbsp;</span>
            </li>
            <li class="home">
                <a href="/Account/AccountInfo"><span>Trang khách hàng</span></a>
                <span class="mr_lr">&nbsp;/&nbsp;</span>
            </li>
            <li><strong><span>Đơn Hàng</span></strong></li>

        </ul>
    </div>
</section>
<section class="signup page_customer_account">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-lg-3 col-left-ac">
                <div class="block-account">
                    <h5 class="title-account">Trang tài khoản</h5>
                    <p>Xin chào, <span style="color:#ef4339;">@Model.HoTen</span>&nbsp;!</p>
                    <ul>
                        <li>
                            <a class="title-info" href="/Account/AccountInfo">Thông tin tài khoản</a>
                        </li>
                        <li>
                            <a class="title-info active" href="/Account/orders">Đơn hàng của bạn</a>
                        </li>
                        <li>
                            <a class="title-info" href="/account/changepassword">Đổi mật khẩu</a>
                        </li>
                        <p>
                            <a asp-controller="Account" asp-action="Logout">
                                Logout
                            </a>
                        </p>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-12 col-right-ac">
                <h1 class="title-head margin-top-0">Đơn hàng của bạn</h1>

                <div class="my-account">
                    <div class="dashboard">

                        <div class="recent-orders">
                            <div class="table-responsive-block tab-all" style="overflow-x:auto; ">
                                <table class="table table-cart table-order" id="my-orders-table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th style="background: #006666">Đơn hàng</th>
                                            <th style="background: #006666">Ngày Đặt</th>
                                            <th style="background: #006666">Thông Tin Khách Hàng</th>
                                            <th style="background: #006666">Giá trị đơn hàng</th>
                                            <th style="background: #006666">TT Đơn Hàng</th>
                                            <th style="background: #006666">TT thanh toán</th>
                                            <th style="background: #006666">Ngày Gửi Hàng</th>
                                            <th style="background: #006666">Ngày Nhận Hàng</th>
                                            <th style="background: #006666">Xem Chi Tiết</th>
                                            <th style="background: #006666"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (DonHang != null && DonHang.Count() > 0)
                                        {
                                            foreach (var item in DonHang)
                                            {
                                                <tr>

                                                    <td><a href="" title="">@item.OrderId</a></td>
                                                    <td>@item.OderDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                    <td style="text-align: left;">
                                                        <div>
                                                            @item.FullName
                                                        </div>
                                                        <div>
                                                            @item.Phone
                                                        </div>
                                                        <div>
                                                            @item.Address
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <span class="price">@item.TotalMoney.Value.ToString("#,##,00").Replace(",",".")đ &nbsp</span>
                                                    </td>
                                                    <td>
                                                        @if (@item.OrderStatusId == 1)
                                                        {
                                                            <b class="span_pending" style="color: #B2D5D0; font-weight: 600;">Chờ Xác Nhận</b>
                                                        }
                                                        else if (@item.OrderStatusId == 2)
                                                        {
                                                            <b class="span_pending" style="color: #e68a47; font-weight: 600;">Đã Duyệt</b>
                                                        }
                                                        else if (@item.OrderStatusId == 3)
                                                        {
                                                            <b class="span_pending" style="color: #2EB8A7; font-weight: 600;">Đang Vận Chuyển</b>
                                                        }
                                                        else if (@item.OrderStatusId == 4)
                                                        {
                                                            <b class="span_pending" style="color:  #336699; font-weight: 600;">Đã Giao</b>
                                                        }
                                                        else if (@item.OrderStatusId == 5)
                                                        {
                                                            <b class="span_pending" style="color:  #cc2933; font-weight: 600;">Đã Hủy</b>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (@item.Payments == 1)
                                                        {
                                                            <b class="span_pending" style="color:  #6e9994; font-weight: 600;">Chưa thanh toán</b>
                                                        }
                                                        else if (@item.Payments == 2)
                                                        {
                                                            <b class="span_pending" style="color: #336699; font-weight: 600;">Đã thanh toán</b>
                                                        }

                                                    </td>

                                                    <td>
                                                        @if (@item.ShipDate != null)
                                                        {
                                                            @item.ShipDate.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                                        }
                                                        else
                                                        {

                                                        }
                                                    </td>
                                                    <td>
                                                        @if (@item.DateReceived != null)
                                                        {
                                                            @item.DateReceived.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                                        }
                                                        else
                                                        {

                                                        }
                                                    </td>
                                                    <td>
                                                        @*<a type="button" class="xemdonhang" data-id="@item.OrderId">Xem Đơn Hàng</a>*@
                                                        <a asp-controller="Account" asp-action="OrderDetails" asp-route-id="@item.OrderId">Xem Đơn Hàng</a>
                                                    </td>
                                                    <td>
                                                        @if (item.OrderStatusId == 1)
                                                        {
                                                            @*<a asp-controller="Account" asp-action="EditOrders" asp-route-id="@item.OrderId">Hủy Đơn</a>*@                                                                                                                           
                                                            <button class="cancel-button" onclick="EditOrders('@item.OrderId')">
                                                                Hủy Đơn
                                                            </button>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <style>
                                    .cancel-button {
                                        background-color: #f44336;
                                        border: none;
                                        color: white;
                                        padding: 10px 15px;
                                        text-align: center;
                                        font-size: 10px;
                                        cursor: pointer;
                                        border-radius: 4px;
                                    }
                                </style>
                                <script>
                                    function EditOrders(OrderId) {
                                        Swal.fire({
                                            title: 'Xác nhận hủy đơn',
                                            text: 'Bạn có chắc chắn muốn hủy đơn hàng này không?',
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonText: 'Đồng ý',
                                            cancelButtonText: 'Hủy bỏ'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                // Nếu người dùng nhấp vào "Đồng ý", chuyển đến controller
                                                var url = '/Account/EditOrders/' + OrderId;
                                                window.location.href = url;
                                            }
                                        });
                                        return false;
                                    }
                                </script>
                            </div>
                            <div class="paginate-pages pull-right page-account text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="orderDetailsContainer">
                </div>
            </div>
        </div>
    </div>
</section>


@*<script>
    $(document).ready(function () {
        $('.delete-button').click(function () {
            var orderId = $(this).data('order-id');
            var confirmation = confirm("Bạn có chắc chắn muốn xóa đơn hàng này?");

            if (confirmation) {
                $.ajax({
                    url: '/Account/EditOrders/',
                    type: 'POST',
                    success: function () {
                        alert('Đơn hàng đã được xóa thành công.');
                        // Thực hiện các hành động cần thiết sau khi xóa đơn hàng thành công.
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi khi xóa đơn hàng.');
                    }
                });
            }
        });
    });
</script>*@

@*<script>
    $('.xemdonhang').on('click', function () {
        // Gửi yêu cầu Ajax để thêm sản phẩm vào giỏ hàng
        $.ajax({
            url: '/Account/Orders',
            type: 'POST',
            dataType: "JSON",
            data: {
                id: $(this).data("id"),
                type: "ajax"
            },
            success: function (data) {
                $('#orderDetailsContainer').html(data);
            },
            error: function (xhr) {
                alert("error");
            }
        });
    });
</script>*@
@*<script>
    $(document).ready(function () {
        $("#xemdonhang").click(function () {
            //var madonhang = $(this).attr("data-madonhang")
            $.ajax({
                url: '/Account/OrderDetails',
                datatype: "Json",
                type="POST",
                data:
                {
                    id: $(this).data("id")
                },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert("error");
                }
            });
        });
    });
</script>
*@

