@model WebSite_Online1a.Models.Price

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-inner">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a asp-controller="PriceAdmin" asp-action="Index">Danh Sách Sản Phẩm</a>
            </li>
            <li class="breadcrumb-item active">
                <a>Xóa Options</a>
            </li>
        </ol>
    </div>
    <hr class="my-10">

    <form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PriceId" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NamePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NamePrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PriceOld)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PriceOld)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PriceNew)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PriceNew)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gb)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gb)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ColorImage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ColorImage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductId)
            </dd>
        </dl>
    </form>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PriceId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay Về</a>
    </form>
    <hr class="my-10">
</div>