
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WebSite_Online1a.Models.Product>

<div class="bodywrap">
    <div class="layout-collection">
        <section class="bread-crumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="home">
                        <a href="home"><span>Trang chủ</span></a>
                        <span class="mr_lr">&nbsp;/&nbsp;</span>
                    </li>
                    <li><strong><span> Tìm Kiếm Sản Phẩm </span></strong></li>
                </ul>
            </div>
        </section>
        <div class="container">
            <div class="row margin-10-">
                <div class="block-collection col-lg-12 col-12 padding-10">
                    <h1 class="title-page d-none">Apple</h1>
                    <div class="category-products">
                        <div class="products-view products-view-grid list_hover_pro">
                            <div class="row margin">
                                <h2>@ViewBag.Message</h2>
                                @foreach (var item in Model)
                                {
                                    string url = $"/ProductAll/details/{@item.ProductId}";
                                    <div class="col-6 col-xl-2 col-lg-4 col-md-4 padding">
                                        <div class="item_product_main">
                                            <form method="post" class="variants product-action " data-cart-form data-id="product-actions-27357040" enctype="multipart/form-data">
                                                <div class="product-thumbnail">
                                                    <a class="image_thumb scale_hover" href="@url">
                                                        <img class="lazyload" src="~/IMAGE/Products/@item.ProductImage">
                                                    </a>
                                                    <div class="actions-primary">
                                                        <input class="hidden" type="hidden" name="variantId" value="70241716" />
                                                        @*<button class="btn-cart" title="Tùy chọn" type="button" onclick="window.location.href='iphone-13-pro-max-128gb'">
                                                            Tùy chọn
                                                        </button>*@
                                                        <button asp-controller="ProductAll" asp-action="Details" asp-route-id="@item.ProductId">
                                                            <span>Xem Sản Phẩm</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <h3 class="product-name" style=" font-weight: bold;"><a href="@url">@item.NameProduct</a></h3>
                                                    <div class="price-box" style="color:  #ff0000; font-weight: bold;">
                                                        @item.Price.Value.ToString("#,##,00").Replace(",",".") VND &nbsp;
                                                    </div>
                                                </div>

                                                <div class="action d-xl-block d-none">
                                                    <div class="actions-secondary">
                                                        <a type="button" data-id="@item.ProductId" class="ajax-add-to-cart1 action btn-compare js-btn-wishlist setWishlist btn-views">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                                                                <path d="M1.21763 5.64124C0.581381 3.86545 1.37671 1.60538 3.12641 1.12108C4.08078 0.798209 5.35327 1.12106 5.98952 2.08967C6.62577 1.12106 7.89826 0.798209 8.85263 1.12108C10.7614 1.76682 11.3977 3.86545 10.7614 5.64124C9.96609 8.38563 6.78483 10 5.98952 10C5.19421 9.83856 2.17201 8.54707 1.21763 5.64124Z" stroke="white" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <a href="javascript:void(0)" class="setCompare btn-views js-compare-product-add active" data-compare="iphone-13-pro-max-128gb" data-type="Điện thoại" tabindex="0" title="Bỏ so sánh" style="cursor: default;">
                                                            <svg x="0" y="0" viewBox="0 0 459 459.648" style="enable-background:new 0 0 512 512">
                                                                <path xmlns="http://www.w3.org/2000/svg" d="m416.324219 293.824219c0 26.507812-21.492188 48-48 48h-313.375l63.199219-63.199219-22.625-22.625-90.511719 90.511719c-6.246094 6.25-6.246094 16.375 0 22.625l90.511719 90.511719 22.625-22.625-63.199219-63.199219h313.375c44.160156-.054688 79.945312-35.839844 80-80v-64h-32zm0 0" fill="#7B7B7B" data-original="#000000" style=""></path>
                                                                <path xmlns="http://www.w3.org/2000/svg" d="m32.324219 165.824219c0-26.511719 21.488281-48 48-48h313.375l-63.199219 63.199219 22.625 22.625 90.511719-90.511719c6.246093-6.25 6.246093-16.375 0-22.625l-90.511719-90.511719-22.625 22.625 63.199219 63.199219h-313.375c-44.160157.050781-79.949219 35.839843-80 80v64h32zm0 0" fill="#7B7B7B" data-original="#000000" style=""></path>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="container">
                <div class="page-content page-content-img">
                    <p class="MsoNormal" align="center" style="margin-bottom:6.0pt;text-align:center;line-height:150%">
                        <b>
                            <span lang="EN" style="font-size:18.0pt;line-height:150%">
                                Mua SmartPhone chính hãng VN/A  tại itechStore
                                <o:p></o:p>
                            </span>
                        </b>
                    </p>
                    <p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;line-height:150%">
                        <span lang="EN" style="font-size:12.0pt;line-height:150%">

                            Smartphone hay còn được biết tới là một loại điện thoại di động với hệ điều hành được tích hợp khiến cho 1 chiếc điện thoại trở nên đa công dụng hơn rất nhiều. Điện thoại di động từ trước đến nay phát triển theo 2 xu hướng. 1 là rất nhỏ, tiên lợi mang đi mọi nơi. 2 là to như chiếc tablet kết hợp giữa điện thoại và máy tính. Những chiếc điện thoại di động thường bỏ túi, thường được kết hợp các tính năng của một chiếc điện thoại thông thường như nghe và thực hiện các cuộc gọi thông thường, nhận tin nhắc văn bản và các tính năng phổ biến khác như là máy nghe nhạc, lịch, máy tính, trò chơi, máy ảnh và cả quáy quay video nữa, Hầu hết những chiếc điện thoại di động hiện nay đều có thể truy cập internet và cài đặt được nhiều ứng dụng từ bên thứ 3 trong CH play hay Appstore.
                        </span>
                    </p>
                    <p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;line-height:150%">
                        <span lang="EN" style="font-size:12.0pt;line-height:150%">
                            Điện thoại di động chính thức ra mắt và được chấp nhận từ năm 1999 và được sử dụng phổ biến từ năm 2000. Hầu hết những chiếc điện thoại di động sản xuất từ năm 2012 trở đi đều có thể sử dụng 3G và 4G. Tính cho tới quý thứ 3 của năm 2012 thì đã có 1 tỷ chiếc điện thoại được bán ra trên toàn thế giới. TÍnh đến năm đã có 65% người sử dụng điện thoại di động là smartphone. Đến năm 2016, con số này đã chiếm tới 79% trong thị trường di động. Và hiện nay, điện thoại di động đa phần chạy hệ điều hành IOS và Android.

                        </span>
                    </p>
                    <p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;line-height:150%">
                        <span lang="EN" style="font-size:12.0pt;line-height:150%">
                            Vào đầu năm 2007, Apple giới thiệu iPhone và đây là 1 trong những chiếc điện thoại di động smartphone đầu tiên có sử dụng cảm ứng đa giao diện. và iOS là hệ điều hành độc quyèn được phát hành bởi Apple và chỉ dành cho những chiếc iPhone mà hãng sản xuất ra. Những fan nhà Táo cũng đã thoát ra khỏi sự bó buộc vào máy tính khi hãng này đã cung cấp chương trình đồng bộ hóa dữ liệu người dùng thông qua iCloud. Tuy nhiên, iPhone hay iOS vẫn chỉ đứng thứ 2 khi điện thoại di động sử dụng nhiều nhất vẫn là Android.

                            <o:p></o:p>
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;line-height:150%">
                        <span lang="EN" style="font-size:12.0pt;line-height:150%">
                            Android là hệ điều hành điện thoại di động giá rẻ và phổ biến hơn cả do Tập đoàn Google phát triển. Cho đến năm 2015 thì đã có tới 325 triệu chiếc điện thoại di động giá rẻ sử dụng hệ điều hành Android, dẫn đầu trong số các nền tảng hệ điều hành. Và hãng Samsung cũng là một trong những nhà sản xuất các thiết bị điện thoại di động giá rẻ hàng đầu hiện nay. HIện nay ngành công nghệ điện thoại di động ngày càng phát triển, trong một năm có tới hàng chục chiếc điện thoại di động mới được nghiên cứu và phát hành ra ngoài thị trường. Ngoài ra, khi lựa chọn một chiếc điện thoại di động chúng ta còn quá nhiều vấn đề cần phải xem xét tới. Ví như thời lượng pin, chiếc điện thoại di động gí rẻ đó sử dụng loại chip gì, hay đơn giản là loại điện thoại di động đó có những màu nào và loại điện thoại đó có nhiều phụ kiện đi kèm hay không. Chọn được một chiếc điện thoại di động giá rẻ chất lượng tốt cho bạn hay những người thân trong gia đình là một quyết định quan trọng. Trước đó, itechStore Mobile đưa ra khẩu hiệu “Những gì chúng tôi không có, tức là bạn không cần”. itechStore đưa ra rất nhiều sự lựa chọn cho bạn. một chiếc điện thoại di động bền, đẹp, hay điện thoại di động giá rẻ lại có khả năng chống nước chống bụi, có thẻ nhớ mở rộng và pin rất khỏe.<o:p></o:p>
                        </span>
                    </p>
                    <p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;line-height:150%">
                        <span lang="EN" style="font-size:12.0pt;line-height:150%">
                            Camera cũng là một ưu điểm được nhiều người dùng đánh giá cao trên những chiếc iPhone.
                            Apple luôn sử dụng những công nghệ hàng đầu, để chiếc iPhone có thể hỗ trợ chụp ảnh đa chế độ như HDR,
                            chân dung, xóa phông,... cũng như quay video chất lượng cao sắc nét nhất. Ngoài ra iPhone còn rất nhiều tính năng hữu
                            ích, chắc chắn sẽ đáp ứng nhu cầu sử dụng và làm hài lòng người dùng.<o:p></o:p>
                        </span>
                    </p>

                    <p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;line-height:150%">
                        <span lang="EN" style="font-size:12.0pt;line-height:150%">
                            Đưa ra quyết định mua một chiếc điện thoại di động giá rẻ không hề dễ dàng. Nhưng hãy để itechStore Mobile giúp bạn. Chúng tôi cung cấp mọi mặt hàng thiết bị di động đủ loại hãng và phân khúc. Với sự lựa chọn là 1 chiếc điện thoại di động giá rẻ smartphone bền và tốt thì bạn có thể lựa chọn Xiaomi hoặc Samsung cũng có rất nhiều mẫu điện thoại thuộc phân khúc tầm trung chất lượng tốt. Hay nếu bạn tìm kiếm những chiếc điện thoại di động chính hãng và giá rẻ thì itechStore cũng có rất nhiều sự lựa chọn cho bạn. Đặc biệt là khi bạn có thể mua điện thoại với mức giá vô cùng phải chăng khi tham gia gói mua hàng trả góp tại itechStore. itechStore Mobile – Siêu thị điện thoại di động giá rẻ nhất, miễn phí vận chuyển toàn quốc, bảo hành 12 tháng, trả góp 0%.<o:p></o:p>
                        </span>
                    </p>
                    <p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;line-height:150%">
                        <span lang="EN" style="font-size:12.0pt;line-height:150%">
                            Nếu bạn đang có nhu cầu tìm mua điện thoại iPhone chính hãng VN/A hãy tham khảo tại website của itechStore Mobile và đặt hàng ngay hôm nay nhé.
                        </span>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    /* Chỉnh kích thước của hộp thông báo */
    .swal2-popup {
        font-size: 0.6rem; /* Kích thước chữ trong hộp thông báo */
    }

    /* Chỉnh kích thước của nút */
    .swal2-actions .swal2-confirm,
    .swal2-actions .swal2-cancel {
        font-size: 0.8rem; /* Kích thước chữ trong nút */
    }
</style>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $(".ajax-add-to-cart1").click(function () {
                $.ajax({
                    url: "/CartYeuThich/AddToCart",
                    data: {
                        id: $(this).data("id"),
                        SoLuong: 1,
                        type: "ajax"
                    },
                    success: function (data) {
                        console.log(data);
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Thêm Sản Phẩm Yêu Thích Thành Công ! Vui Lòng Xem Ở Sản Phẩm Yêu Thích',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        $("#cart_count").html(data.soLuong);
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Thêm Sản Phẩm Yêu Thích Thất Bại',
                            text: 'Vui Lòng Thử Lại',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                });
            });
        });
    </script>
}