@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model WebSite_Online1a.Models.Product

<div class="page-inner">

    <header class="page-title-bar">
        <div class="d-flex flex-column flex-md-row">
            <p class="lead">
                <span class="font-weight-bold">Xin Chào, @ViewBag.UserName</span>
                <span class="d-block text-muted">Thống kê hôm nay</span>
            </p>
        </div>
    </header>

    <div class="page-section">
        <div class="section-block">
            <div class="metric-row">
                <div class="col-lg-9">
                    <div class="metric-row metric-flush">

                        <div class="col">
                            <a asp-area="Admin" asp-controller="ProductAdmin" asp-action="Index" class="metric metric-bordered align-items-center">
                                <h2 class="metric-label"> Sản Phẩm </h2>
                                <p class="metric-value h3">
                                    <sub><i class="oi oi-people"></i></sub>
                                    <span id="productCount">@ViewBag.ProductCount</span>
                                </p>
                            </a>
                        </div>

                        <div class="col">
                            <a asp-area="Admin" asp-controller="ProductAdmin" asp-action="Index" class="metric metric-bordered align-items-center">
                                <h2 class="metric-label"> Đơn Hàng </h2>
                                <p class="metric-value h3">
                                    <sub><i class="oi oi-fork"></i></sub>
                                    <span id="orderCount">@ViewBag.OrderCount</span>
                                </p>
                            </a>
                        </div>

                        <div class="col">
                            <a asp-area="Admin" asp-controller="PostAdmin" asp-action="Index" class="metric metric-bordered align-items-center">
                                <h2 class="metric-label"> Tin Tức </h2>
                                <p class="metric-value h3">
                                    <sub><i class="fa fa-tasks"></i></sub> 
                                    <span id="postCount">@ViewBag.PostCount</span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">

                    <a asp-area="Admin" asp-controller="AccountAdmin" asp-action="Index" class="metric metric-bordered">
                        <div class="metric-badge">
                            <span class="badge badge-lg badge-success">
                                <span class="oi oi-media-record pulse mr-1"></span>
                                Tài Khoản
                            </span>
                        </div>
                        <p class="metric-value h3">
                            <sub><i class="oi oi-timer"></i></sub> 
                            <span class="value">@ViewBag.AccountCount</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Lấy thẻ span bằng id
            var productCountElement = document.getElementById('productCount');
            var orderCountElement = document.getElementById('orderCount');
            var postCountElement = document.getElementById('postCount');

            // Giá trị ban đầu
            var ProductCount = 0;
            var OrderCount = 0;
            var PostCount = 0;

            var targetProductCount = parseInt("@ViewBag.ProductCount");
            var targetOrderCount = parseInt("@ViewBag.OrderCount");
            var targetPostCount = parseInt("@ViewBag.PostCount");

            // Cập nhật giá trị và hiển thị sau mỗi 1 giây
            setInterval(function () {
                // Tăng từ 0 - viewbag.productcount
                if (ProductCount <= targetProductCount)
                {
                    // Tăng giá trị số liệu 
                    ProductCount++;
                    // Cập nhật giá trị trong thẻ span
                    productCountElement.textContent = ProductCount;
                }
                if (OrderCount <= targetOrderCount) {
                    // Tăng giá trị số liệu
                    OrderCount++;
                    // Cập nhật giá trị trong thẻ span
                    orderCountElement.textContent = OrderCount;
                }
                if (PostCount <= targetPostCount) {
                    // Tăng giá trị số liệu
                    PostCount++;
                    // Cập nhật giá trị trong thẻ span
                    postCountElement.textContent = PostCount;
                }
            }, 100);
        });
    </script>
}