@model List<Price>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <th class="align-middle">
                @item.NamePrice
            </th>
            <td class="align-middle">@item.ProductId</td>
            <td class="align-middle">@item.PriceOld.Value.ToString("#,##0")₫</td>
            <td class="align-middle">@item.PriceNew.Value.ToString("#,##0")₫</td>
            <td class="align-middle">@item.Gb</td>
            <td class="align-middle">@item.Color</td>
            <td class="align-middle">
                <img width="140" height="100" src="~/IMAGE/Product_Details/@item.ColorImage">
            </td>

            <td class="align-middle text-right">
                <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="PriceAdmin" asp-action="Details" asp-route-id="@item.PriceId">
                    <i class="fa fa-calendar-week"></i>
                    <span class="sr-only">Details</span>
                </a>
                <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="PriceAdmin" asp-action="Edit" asp-route-id="@item.PriceId">
                    <i class="fa fa-pencil-alt"></i>
                    <span class="sr-only">Edit</span>
                </a>
                <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="PriceAdmin" asp-action="Delete" asp-route-id="@item.PriceId">
                    <i class="far fa-trash-alt"></i>
                    <span class="sr-only">Remove</span>
                </a>
            </td>

        </tr>
    }
}