@model WebSite_Online1a.Models.Account

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-inner">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a asp-controller="AccountAdmin" asp-action="Index">Quản Lý Accounts</a>
            </li>
            <li class="breadcrumb-item active">
                Xóa Account: @Model.Email
            </li>
        </ol>
    </div>
    <hr class="my-10">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AccountId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

</div>