@model IEnumerable<WebSite_Online1a.Models.Product>

@{
    ViewData["Title"] = "Index sản phẩm admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="page-inner">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a asp-controller="ProductAdmin" asp-action="Index">Danh Sách Sản Phẩm</a>
            </li>
        </ol>
    </div>
    <!-- table -->
    <hr class="my-10">
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <div class="form-group">
                <!-- .input-group -->
                <div class="input-group input-group-alt">
                    <form asp-action="Index" method="get" class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                            </div>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm Kiếm Sản Phẩm">
                            <button class="btn btn-danger">Tìm</button>
                        </div>
                    </form>
                </div><!-- /.input-group -->
            </div>
            <div class="card-footer">
                <a asp-area="Admin" asp-controller="ProductAdmin" asp-action="Create" class="card-footer-item"><i class="fa fa-plus-circle mr-1"></i> Thêm Sản Phẩm</a>
            </div>
            <hr class="my-10">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>

                            <th class="align-middle">Tên Sản Phẩm</th>                            
                            <th class="align-middle">Danh Mục</th>
                            <th class="align-middle">Thương Hiệu</th>
                            <th class="align-middle">Thông Số Kỹ Thuật</th>
                            <th class="align-middle">Giá</th>
                            <th class="align-middle">Hình Ảnh</th>

                        </tr>
                    </thead>
                    <tbody id="records_table">
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <th class="align-middle">
                                        @item.NameProduct
                                    </th>                                    
                                    <td class="align-middle">@item.Category.NameCategory</td>
                                    <td class="align-middle">@item.Brand.NameBrand</td>
                                    <td class="align-middle">@item.Specification.NameSpecification</td>
                                    <td class="align-middle">@item.Price.Value.ToString("#,##0")₫</td>
                                    <td class="align-middle">
                                        <img width="100" height="100" src="~/IMAGE/Products/@item.ProductImage">
                                    </td>

                                    <td class="align-middle text-right">
                                        <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="ProductAdmin" asp-action="Details" asp-route-id="@item.ProductId">
                                            <i class="fa fa-calendar-week"></i>
                                            <span class="sr-only">Details</span>
                                        </a>
                                        <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="ProductAdmin" asp-action="Edit" asp-route-id="@item.ProductId">
                                            <i class="fa fa-pencil-alt"></i>
                                            <span class="sr-only">Edit</span>
                                        </a>
                                        <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="ProductAdmin" asp-action="Delete" asp-route-id="@item.ProductId">
                                            <i class="far fa-trash-alt"></i>
                                            <span class="sr-only">Remove</span>
                                        </a>
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
                

                @* <div aria-label="Page navigation example">
                <ul class="pagination">
                <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="Admin" asp-controller="Brand" asp-action="Index" />
                </ul>
                </div>*@
            </div>
        </div>
    </div>
    <hr class="my-10">
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/SearchAdmin/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>

}






















@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification.SpecificationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
