@model IEnumerable<WebSite_Online1a.Models.Post>

@{
    ViewData["Title"] = "Index Tin Tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-inner">

    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a asp-controller="Post" asp-action="Index">Quản Lý Tin Đăng</a>
            </li>
        </ol>
    </div>

    <!-- table -->
    <hr class="my-10">
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <div class="form-group">
                <!-- Form Search-->
                <div class="input-group input-group-alt">

                    @*<form asp-action="Search" method="get" class="form-inline">
                    <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                    </div>
                    <input name="name" type="text" class="form-control" placeholder="Tìm Kiếm Sản Phẩm">
                    <button class="btn btn-danger">Tìm</button>
                    </div>
                    </form>*@

                </div>
                <!-- Form Search-->
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="col-md-7.5">Tiêu Đề</th>
                            <th></th>
                            <th></th>

                            <th class="col-md-2">Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle px-0" style="width: 1.5rem">
                                        <button type="button" class="btn btn-sm btn-icon btn-light" data-toggle="collapse" data-target="#details-cid5743"><span class="collapse-indicator"><i class="fa fa-angle-right"></i></span></button>
                                    </td>
                                    <td class="align-middle">
                                        @item.Title
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @if (item.Published == true)
                                        {
                                            <span class="badge badge-subtle badge-success">On</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-subtle badge-warning">Off</span>
                                        }
                                    </td>
                                    <td></td>
                                    <td class="align-middle text-right">
                                        <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="PostAdmin" asp-action="Details" asp-route-id="@item.PostId">
                                            <i class="fa fa-calendar-week"></i>
                                            <span class="sr-only">Details</span>
                                        </a>
                                        <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="PostAdmin" asp-action="Edit" asp-route-id="@item.PostId">
                                            <i class="fa fa-pencil-alt"></i>
                                            <span class="sr-only">Edit</span>
                                        </a>
                                        <a class="btn btn-sm btn-icon btn-secondary" asp-area="Admin" asp-controller="PostAdmin" asp-action="Delete" asp-route-id="@item.PostId">
                                            <i class="far fa-trash-alt"></i>
                                            <span class="sr-only">Remove</span>
                                        </a>
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="card-footer">
                    <a asp-area="Admin" asp-controller="PostAdmin" asp-action="Create" class="card-footer-item"><i class="fa fa-plus-circle mr-1"></i> Thêm Tin Mới</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-10">
    @*<!--Phân trang-->
    <div aria-label="Page navigation example">
    <ul class="pagination">
    <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="Admin" asp-controller="Specification" asp-action="Index" />
    </ul>
    </div>
    <!--Phân trang-->*@
</div>